.places {
  display: grid;
  grid-gap: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .places {
   grid-gap: 46px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places {
   grid-gap: 36px;
   justify-content: space-around;
}
}