.cover__content-title {
  color: white;
  max-height: 76px;
  max-width: 656px;
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
  text-align: center;
  margin: 92px auto 0;
  z-index: 2;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cover__content-title {
    margin: 0;
  }
}