.cover__content-subtitle {
  color: white;
  max-height: 66px;
  max-width: 280px;
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  text-align: center;
  margin: 32px auto;
  z-index: 2;
}
