.places__place {
  display: grid;
  grid-gap: 48px 40px;
  max-height: 856px;
  margin: 0 auto;
  grid-template-areas:
    "title ."
    "title website"
    "image paragraph"
    "frame paragraph";
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
  .places__place {
    grid-gap: 46px 28px;
    grid-template-areas:
      "title website"
      "image paragraph"
      "frame paragraph"
      ". paragraph";
  }

  .places__place:nth-child(5) {
    grid-template-areas:
      "title website"
      "image paragraph"
      "frame paragraph";
    max-height: 530px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__place {
    grid-gap: 30px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph"
      "frame";
      max-width: 320px;
      max-height: 1433px;
      align-items: center;
      grid-template-rows: 35px 67px 320px 650px 48px;
  }

  .places__place:nth-child(4) {
    grid-template-rows: 35px 67px 320px 806px 48px;
  }

  .places__place:nth-child(5) {
    grid-template-rows: 35px 67px 320px 570px 48px;
  }

}
