.cover__background {
  opacity: 0.6;
  position: absolute;
  margin-top: 92px;
  z-index: 0;
  height: 740px;
  width: 1184px;
}

.cover__background:hover {
    opacity: 0.3;
    transition: opacity 1s linear 1s;
}
