.cover__content {
  margin: 0 auto 0;
  height: 100%;
  width: 100%;
  display: grid;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
